.header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    width: 50px; /* Điều chỉnh kích thước của logo theo ý muốn */
    height: auto;
    margin-right: 10px; /* Tạo khoảng cách giữa logo và chữ */
  }
  
  .product-name {
    font-size: 24px; /* Điều chỉnh kích thước chữ của sản phẩm */
    font-weight: bold;
  }
  